* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator{
    width: 400px;
    border: 2px solid black;
    padding: 20px
}

.display{
    border: 1px solid black;
    padding: 20px;
    font-size: 40px;
    text-align: right;
    margin-bottom: 20px;
    min-height: 70px;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

button{
    flex: 1 0 calc(25% - 10px);
    height: 60px;
    font-size: 24px;
    border: 1px solid black;
    cursor: pointer;
    background: rgb(127, 127, 127);
}

button:hover{
    background: rgb(108, 108, 108)
}

button:last-child(){
    flex: 0 0 calc(75% - 3px);
}

button:nth-last-child(2){
    flex: 0 0 calc(25% - 7px);
}


